{% include 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- END LOADER -->

    <!-- START HEADER -->
    {% include 'include/header.html' %}
    <!-- END HEADER -->

    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section background_bg overlay_bg_50 page_title_light"
        data-img-src="{% static 'assets/images/about_bg2.jpg' %}">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>О нас</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
                        <li class="breadcrumb-item active">О нас</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->

    <!-- START SECTION ABOUT -->
    <div class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about_box box_shadow1">
                        <div class="heading_s1">
                            <span class="sub_heading font_style1">О нас</span>
                            <h2>Добро пожаловать в наш ресторан</h2>
                        </div>  
                        <p>{{about.description}}</p>
                        <p>{{about.subdescription}}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="fancy_style1 overlay_bg_20">
                        <img src="{{about.image.url}}" style="height: 600px; width: 700px;" alt="about_img5" />
                        <a href="https://www.youtube.com/watch?v=ZE2HxTmxfrI"
                            class="btn btn-ripple ripple_center video_popup animation" data-animation="fadeInUp"
                            data-animation-delay="0.6s"><span class="ripple"><i class="ion-play"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION ABOUT -->

    <!-- START SECTION COUNTER -->
    <div class="section parallax_bg overlay_bg_70" data-parallax-bg-image="{% static 'assets/images/counter_bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="box_counter counter_white text-center">
                        <i class="flaticon-restaurant"></i>
                        <h3 class="counter_text"><span class="counter" data-from="0" data-to="200" data-speed="1000"
                                data-refresh-interval="10"></span>+</h3>
                        <p>Удивительные блюда</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                    <div class="box_counter counter_white text-center">
                        <i class="flaticon-contact"></i>
                        <h3 class="counter_text"><span class="counter" data-from="0" data-to="1500" data-speed="1000"
                                data-refresh-interval="10"></span>+</h3>
                        <p>Счастливый покупатели</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                    <div class="box_counter counter_white text-center">
                        <i class="flaticon-chef"></i>
                        <h3 class="counter_text"><span class="counter" data-from="0" data-to="700" data-speed="1000"
                                data-refresh-interval="10"></span>+</h3>
                        <p>Удовлетворенный персонал</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                    <div class="box_counter counter_white text-center">
                        <i class="flaticon-back-in-time"></i>
                        <h3 class="counter_text"><span class="counter" data-from="0" data-to="1500" data-speed="1000"
                                data-refresh-interval="10"></span>+</h3>
                        <p>Рабочий час</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION COUNTER -->

    <!-- START SECTION MOBILE APP -->
    <!-- END SECTION MOBILE APP -->

    <!-- START SECTION TEAM -->
    <div class="section bg_linen pb_70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="heading_s1 text-center">
                        <span class="sub_heading font_style1">Потрясающий шеф-повар</span>
                        <h2>Наши сотрудники команды</h2>
                    </div>
                    <p class="text-center leads">В ресторане "Ожак Кебаб" нашими поварами являются настоящие мастера своего дела, которые с любовью и мастерством готовят каждое блюдо, используя лучшие традиционные рецепты и свежие продукты.</p>
                </div>
            </div>
            <style>
                .team_box {
                    height: 450px;
                    width: 250px;
                    margin: 0 auto; /* Центрирование карточки */
                }
            
                .team_img {
                    height: 250px;
                    width: 200px;
                    margin: 0 auto; /* Центрирование изображения */
                }
            
                .team_img img {
                    height: 250px;
                    width: 200px;
                    border-radius: 15px;
                }
            
                .team_content {
                    height: 100px;
                    width: 250px;
                    text-align: center; /* Центрирование текста */
                }
            </style>
            <div class="row justify-content-center">
                {% for team in team %}
                <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                    <div class="team_box team_style2" style="height: 250; width: 250px;">
                        <div class="team_img" style="height: 250px; width: 200px;">
                            <a href="{% url 'team_detail' team.id %}"><img src="{{team.photo.url}}" style="height: 300px; width: 250px; border-radius: 15px;" alt="team_img1"></a>
                        </div>
                        <div class="team_content"style="height: 180px; width: 250px;">
                            <div class="team_title">
                                <h4><a href="{% url 'team_detail' team.id %}">{{team.fullname}}</a></h4>
                                <span><a href="{% url 'team_detail' team.id %}">{{team.profession}}</a></span>
                            </div>
                            <ul class="social_icons">
                                {% if team.facebook %}
                                <li><a href="{{team.facebook}}" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                                {% endif %}
                                {% if team.twitter %}
                                <li><a href="{{team.twitter}}" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                                {% endif %}
                                {% if team.instagram %}
                                <li><a href="{{team.instagram}}" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a>
                                {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12 text-center pt-sm-3">
                        <a href="{% url 'team' %}" class="btn btn-default btn-radius">Вся команда</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- END SECTION TEAM -->

    <!-- START SECTION TESTIMONIAL -->
    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="heading_s1 mb-md-0 text-center">
                        <span class="sub_heading font_style1">Отзывы</span>
                        <h2>Наши клиенты говорят!</h2>
                    </div>
                    <div class="small_divider clearfix"></div>
                </div>
            </div>
            <style>
                .author_img img {
                    border-radius: 50%;
                    width: 100px; /* Укажите нужный размер */
                    height: 100px; /* Укажите нужный размер */
                }
            
                .slick-thumb .item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            </style>
            
            <div class="row justify-content-center">
                <div class="col-lg-9 animation" data-animation="fadeInUp" data-animation-delay="0.03s">
                    <div class="testimonial_wrap radius_all_10 text-center">
                        <div class="slick_slider slick-thumb testi_thumb testi_thumb_style1" data-slides-to-show="5"
                            data-slides-to-scroll="1" data-as-nav-for=".testimonial_slider" data-focus-on-select="true"
                            data-center-mode="true" data-css-ease="linear" data-autoplay="true" data-draggable="false"
                            data-arrows="false" data-infinite="true">
            
                            {% for testimonial in testimonial %}
                            <div class="item">
                                <div class="author_img">
                                    <img src="{{testimonial.photo.url}}" alt="{{testimonial.name}}">
                                </div>
                            </div>
                            {% endfor %}
            
                        </div>
                        <div class="testimonial_slider testimonial_style3 slick_slider nav_style1"
                            data-slides-to-show="1" data-slides-to-scroll="1" data-as-nav-for=".slick-thumb"
                            data-autoplay="true" data-infinite="true" data-arrows="false" data-center-mode="true">
            
                            {% for testimonial in testimonial %}
                            <div class="testimonial_box">
                                <div class="author_name">
                                    <h5>{{testimonial.fullname}}</h5>
                                    <span>{{testimonial.profession}}</span>
                                </div>
                                <div class="testimonial_desc">
                                    <p>{{testimonial.comment}}</p>
                                </div>
                            </div>
                            {% endfor %}
            
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Добавьте Slick Slider скрипты -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
            
            <script>
                $(document).ready(function(){
                    $('.slick-thumb').slick({
                        slidesToShow: 5,
                        slidesToScroll: 1,
                        asNavFor: '.testimonial_slider',
                        focusOnSelect: true,
                        centerMode: true,
                        cssEase: 'linear',
                        autoplay: true,
                        draggable: false,
                        arrows: false,
                        infinite: true
                    });
            
                    $('.testimonial_slider').slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        asNavFor: '.slick-thumb',
                        autoplay: true,
                        infinite: true,
                        arrows: false,
                        centerMode: true
                    });
                });
            </script>
            
        </div>
    </div>
    <!-- END SECTION TESTIMONIAL -->

    <!-- START FOOTER -->
    {% include 'include/footer.html' %}
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
{% endblock %}