{% include 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- END LOADER -->

    <!-- START HEADER -->
    {% include 'include/header.html' %}
    <!-- END HEADER -->

    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section background_bg overlay_bg_50 page_title_light"
        data-img-src="{% static 'assets/images/contact2_bg.jpg' %}">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Контакты</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index'%}">Главная
                        </a></li>
                        <li class="breadcrumb-item active">Контакты </li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->

    <!-- START SECTION CONTACT -->
    <div class="section pb_20">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="contact_wrap contact_style3">
                        <div class="contact_icon">
                            <i class="linearicons-map2"></i>
                        </div>
                        <div class="contact_text">
                            <span>Наш адрес</span>
                        {% for contact in info_contact %}
                            <p>{{ contact.our_location }}</p>
                        {% endfor %}                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                    <div class="contact_wrap contact_style3">
                        <div class="contact_icon">
                            <i class="linearicons-envelope-open"></i>
                        </div>
                        <div class="contact_text">
                            <span>Отправить электронное письмо</span>
                            {% for contact in info_contact %}
                                <p>{{ contact.email }}</p>
                            {% endfor %}
                        </div>  
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                    <div class="contact_wrap contact_style3">
                        <div class="contact_icon">
                            <i class="linearicons-tablet2"></i>
                        </div>
                        <div class="contact_text">
                            <span>Контакты</span>
                            {% for contact in info_contact %}
                                <p>{{ contact.phone_number }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                    <div class="contact_wrap contact_style3">
                        <div class="contact_icon">
                            <i class="linearicons-clock"></i>
                        </div>
                        <div class="contact_text">
                            <span></span>
                            {% for contact in info_contact %}
                                <p>{{ contact.opening_hours }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION CONTACT -->

    <!-- START SECTION CONTACT -->
    <div class="section small_pt">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="divider center_icon"><i class="ti-pencil-alt"></i></div>
                    <div class="large_divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="heading_s1">
                        <h2>Свяжись с нами с любыми вопросами</h2>
                    </div>
                    <p class="leads">Откройте чат или позвоните нам по телефону который был написан с верху 
                    </p>
                    <div class="rounded_input">
                        <form method="post" name="enq">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input required placeholder="Введите имя *" id="first-name" class="form-control"
                                        name="name" type="text">
                                </div>
                                <div class="form-group col-md-6">
                                    <input required placeholder="Введите адрес электронной почты *" id="email" class="form-control"
                                        name="email" type="email">
                                </div>
                                <div class="form-group col-md-6">
                                    <input required placeholder="Введите номер телефона *" id="phone" class="form-control"
                                        name="phone">
                                </div>
                                <div class="form-group col-md-6">
                                    <input placeholder="Введите тему" id="subject" class="form-control" name="subject">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea required placeholder="Сообшения *" id="description" class="form-control"
                                        name="message" rows="4"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" title="Submit Your Message!"
                                        class="btn btn-default btn-radius" id="submitButton" name="submit"
                                        value="Submit">Отправить Сообшения</button>
                                </div>
                                <div class="col-md-12">
                                    <div id="alert-msg" class="alert-msg text-center"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 animation mt-4 mt-lg-0" data-animation="fadeInUp" data-animation-delay="0.3s">
                    <div class="map">
                        <iframe
                            src="https://www.google.ru/maps/place/%D0%9E%D0%B6%D0%B0%D0%BA+%D0%BA%D0%B5%D0%B1%D0%B0%D0%BF/@40.5265528,72.7928111,17z/data=!3m1!4b1!4m6!3m5!1s0x38bdadd0a3b75be1:0x6890bfd22daf00fe!8m2!3d40.5265528!4d72.795386!16s%2Fg%2F11mxbhnzxs?hl=ru&entry=ttu"
                            allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION CONTACT -->

    <!-- START FOOTER -->
    {% include 'include/footer.html' %}
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
{% endblock %}