{% include 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- END LOADER -->

    <!-- START HEADER -->
    {% include 'include/header.html' %}
    <!-- END HEADER -->

    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section background_bg overlay_bg_50 page_title_light"
        data-img-src="{% static 'assets/images/blog_detail_bg.jpg' %}">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Детальные новости</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
                        <li class="breadcrumb-item active">Детальные новости</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->

    <!-- START SECTION BLOG -->
    <div class="section">
        <div class="container-fluid px-5">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="single_post">
                        <div class="blog_img text-center" style="border-radius: 15px;">
                            <img src="{{news.image.url}}" alt="blog_img1" class="img-fluid">
                        </div>
                        <div class="blog_content text-center">
                            <div class="blog_text">
                                <h2 class="blog_title">{{news.title}}</h2>
                                <ul class="list_none blog_meta">
                                    <li><a><i class="ti-user"></i>{{news.author}}</a></li>
                                    <li><a><i class="ti-calendar"></i>{{news.date}}</a></li>
                                </ul>
                                <p>{{news.content|safe}}</p>
                                <blockquote class="blockquote_style1" style="border-radius: 15px;">
                                    <p>{{news.content2|safe}}</p>
                                </blockquote>
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        <div class="single_img">
                                            <img class="w-100 mb-3 mb-md-4" src="{{news.image.url}}" alt="blog_single_img1" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3 mb-md-4">
                                            <p>{{news.content3|safe}}</p>
                                        </div>
                                    </div>
                                </div>
                                <p>{{news.content4|safe}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- END SECTION BLOG -->

    <!-- START FOOTER -->
    {% include 'include/footer.html' %}
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
{% endblock %}