{% include 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- END LOADER -->

    <!-- START HEADER -->
    {% include 'include/header.html' %}
    <!-- END HEADER -->

    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section background_bg overlay_bg_50 page_title_light"
        data-img-src="{% static 'assets/images/blog_bg.jpg' %}">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Новости</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
                        <li class="breadcrumb-item active">Новости</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->

    <!-- START SECTION BLOG-->
    <style>
        .blog_post {
            height: 350px; /* Укажите высоту, которая вам подходит */
        }
    
        .blog_img {
            height: 200px; /* Укажите высоту изображения */
            overflow: hidden; /* Обрезать изображение, если оно выходит за границы */
        }
    
        .blog_img img {
            width: 100%;
            height: auto;
            object-fit: cover; /* Заполнение изображения по размерам блока */
        }
    
        .blog_content {
            padding: 20px; /* Добавление отступов вокруг контента */
        }
    </style>
    
    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                {% for news in news %}
                <div class="col-lg-4 col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="blog_post blog_style1 box_shadow1">
                        <div class="blog_img">
                            <a href="{% url 'blog_detail' news.id %}">
                                <img src="{{news.image.url}}" style="height: 200px; width: 500px;" alt="blog_small_img1">
                            </a>
                            <span class="post_date radius_all_10">{{news.date}}</span>
                        </div>
                        <div class="blog_content">
                            <div class="blog_text">
                                <ul class="list_none blog_meta">
                                    <li><a href="{% url 'blog_detail' news.id %}"><i class="ti-user"></i>{{news.author}}</a></li>
                                </ul>
                                <h5 class="blog_title"><a href="{% url 'blog_detail' news.id %}">{{news.title}}</a></h5>
                                <p>{{news.content|safe}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <!-- END SECTION BLOG-->

    <!-- START FOOTER -->
    {% include 'include/footer.html' %}
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
{% endblock %}